@model BestNox.Models.UploadFile

@{
    ViewData["Title"] = "Details";
}

<h1>詳細</h1>

<div>
    <h4>アップロード</h4>
    <hr />
    <form method="post">
        <button asp-controller="UploadFiles" asp-action="Download" asp-route-id="@Model.Id" class="btn btn-primary">ファイルのダウンロード</button>
    </form>
    @if (ViewBag.Url != null)
    {
        if (Model.IsPublic && (Model.Filename.ToLower().EndsWith(".png") || Model.Filename.ToLower().EndsWith(".jpg") || Model.Filename.ToLower().EndsWith(".jpeg") || Model.Filename.ToLower().EndsWith(".gif")))
        {
            <img src="@ViewBag.Url" />
        }
    }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Filename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Filename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)MB
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    @if (ViewData[SystemConstants.IsSubmitLocked].ToString() == "1")
    {
        <input type="button" value="編集" class="btn btn-secondary" data-toggle="modal" data-target="#myModal" />
        <!-- エラーメッセージ -->
        <div class="modal fade" id="myModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content panel-danger">
                    <div class="modal-header panel-heading" style="border-top-left-radius: inherit; border-top-right-radius: inherit;">
                        <h4 class="modal-title"><i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></i>残念なお知らせ</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body text-danger">
                        これは展示バージョンなので、投稿や編集はできません。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <form class="form-inline" asp-action="Edit">
            <button type="submit" class="btn btn-success">編集</button>
        </form>
    }
    <form class="form-inline" asp-action="Index">
        <button type="submit" class="btn btn-primary">一覧に戻る</button>
    </form>
</div>
