@model IEnumerable<BestNox.Models.UploadFile>

@{
    ViewData["Title"] = "Index";
}

<h1>ファイルのアップロード</h1>
<p class="text-success">@ViewBag.Address</p>

<p>
    <a asp-action="Create">新しいファイルをアップロードする</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filename)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)MB
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">編集</a> |
                <a asp-action="Details" asp-route-id="@item.Id">ダウンロード</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">削除</a>
            </td>
        </tr>
        }
    </tbody>
</table>
